## Basic commands

In [1]:
2+3

5

In [41]:
a = 'abhishek'
print(a)

abhishek

In [29]:
a = 10
b = 3
c = 'abhi'
print(a+b)           # addition
print(a-b)           # subtraction 
print(a*b)           # multiplication
print(a/b)           # division
print(a%b)           # modulus - gets remainder after division
print(b*c)           # will print 'abhi' 3 times
print((a+b)*(a-b))   
print(a**b)          # 10 to the power of 3 (10*10*10)

13
7
30
3.3333333333333335
1
abhiabhiabhi
91
1000

In [30]:
a = 'abhi'
b = 45
c = 12.5
d = True
print(type(a))   # prints data type
print(type(b))
print(type(c))
print(type(d))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>

## Numbers

In [109]:
a_to_b = 157
b_to_c = 247

total_distance = a_to_b + b_to_c
print(total_distance)

404

In [111]:
mph = 65
time = total_distance/mph
time

6.2153846153846155

In [112]:
print(round(time,2))    # prints given digits after decimal point.
print(round(time,4))    # 2nd paramteter is how many digits you want after the decimal point

6.22
6.2154

In [39]:
10 + 2 * 3    # BODMAS rule

16

In [38]:
(10 + 2) * 3

36

## Strings

In [117]:
a = 'Metal Body'
a

'Metal Body'

In [118]:
print(a[1])
print(a[-6])

# prints the 2nd letter in the string. Indexing always starts with 0.
#      M e t a l   B o d y      M   e  t  a  l     B  o  d  y
#      0 1 2 3 4 5 6 7 8 9     -10 -9 -8 -7 -6 -5 -4 -3 -2 -1

e
l

In [119]:
print(a[0:4])  # 0th is included, 4th is excluded

Meta

In [120]:
print(a[4:])   # prints everything after 5th index
print(a[:4])   # prints everything till 4th index

l Body
Meta

In [128]:
print("I love 'football'")
print('foot + ball = "football"')
print('\n')                                              # \n for new line
print('I love Messi\'s team')                            # use backslash(\) to include single quote (')
print('this\\that')                                      # use \\ to include \

I love 'football'
foot + ball = "football"


I love Messi's team
this\that

In [129]:
print('Address: 21 Neon Street,\n\t Mumbai,\n\t India\n')   # \t for tab or indent

# OR use triple quote

print('''Address: 21 Neon Street,
         Mumbai,
         India''')

Address: 21 Neon Street,
	 Mumbai,
	 India

Address: 21 Neon Street,
         Mumbai,
         India

In [79]:
name = 'abhishek'
game = 'football'

print('My name is '+ name)
print('My name is {} and i love {}'.format(name,game))
print('My name is {a} and i love {b}'.format(a=name,b=game))
print(name + game)
print(name + ' loves ' + game)

My name is abhishek
My name is abhishek and i love football
My name is abhishek and i love football
abhishekfootball
abhishek loves football

In [131]:
name = 'abhi'
age = 100
print('My name is '+ name +'.\nIam '+ str(age) +' years old.')   # to print num we need to covert it into string

My name is abhi.
Iam 100 years old.

In [90]:
len('abhishek')   # prints the number of items

8

## Lists
List is a collection of items that can be ordered, unordered and changeable. Allows duplicate items and are defined using square brackets [ ]

In [132]:
company = ['Google','Amazon','Apple','Facebook']
print(company)
print(type(company))

['Google', 'Amazon', 'Apple', 'Facebook']
<class 'list'>

In [133]:
company[2]   # indexing

'Apple'

In [134]:
company[3] = 'Instagram'       # change items in the list
company

['Google', 'Amazon', 'Apple', 'Instagram']

In [135]:
company.append('Facebook')     # append adds item at the end of the list
company

['Google', 'Amazon', 'Apple', 'Instagram', 'Facebook']

In [136]:
company.insert(2,'Microsoft')    # adds item at given index
company

['Google', 'Amazon', 'Microsoft', 'Apple', 'Instagram', 'Facebook']

In [137]:
company.extend(['Samsung','Intel'])   # add multiple items
company

['Google',
 'Amazon',
 'Microsoft',
 'Apple',
 'Instagram',
 'Facebook',
 'Samsung',
 'Intel']

In [138]:
company.pop()  # removes last item
company

['Google', 'Amazon', 'Microsoft', 'Apple', 'Instagram', 'Facebook', 'Samsung']

In [139]:
company.pop(4)   # remove item by giving its index position
company

['Google', 'Amazon', 'Microsoft', 'Apple', 'Facebook', 'Samsung']

In [140]:
numb = [21,34,45,21,78,10,11,73]

print(numb.count(21))              # print number of occurrences of value
print(len(numb))                   # print number of items in the list
print(numb.index(21))              # print index value of given item
print(min(numb))                   # print lowest value
print(max(numb))                   # print highest value
print(sum(numb))                   # adds all the numbers
print(numb*2)                      # print the list 2 times

2
8
0
10
78
293
[21, 34, 45, 21, 78, 10, 11, 73, 21, 34, 45, 21, 78, 10, 11, 73]

In [141]:
a = ['apple','mango','banana']
b = ['watermelon','strawberry']
c = a + b
c

['apple', 'mango', 'banana', 'watermelon', 'strawberry']

In [142]:
print('pencil' in c)    # check if a given item is in the list
print('mango' in c)

False
True

## Sets
Set is a collection of elements and no duplicate elements are present. They are defined using curly brackets { }

In [144]:
avengers = {'Ironman','Hulk','Spiderman','Hulk','Captain America'}
print(avengers)                 # Hulk gets printed only once.
print(type(avengers))

{'Hulk', 'Ironman', 'Spiderman', 'Captain America'}
<class 'set'>

In [145]:
avengers.add('Thor')       # add element
avengers

{'Captain America', 'Hulk', 'Ironman', 'Spiderman', 'Thor'}

In [146]:
set1 = {1,2,3,4,5}
set2 = {1,2,3,4,5,6,7}
set2.difference(set1)      #common elements will be removed but wont show unless you update the difference
set2

{1, 2, 3, 4, 5, 6, 7}

In [147]:
set2.difference_update(set1)     #Updates the difference
set2

{6, 7}

In [148]:
set_a = {'abhi',1,2,3,4}
set_b = {'abhi',1,2,3,4,5}
set_b.intersection(set_a)           #common elements will be printed
set_b.intersection_update(set_a)
set_b

{1, 2, 3, 4, 'abhi'}

## Dictionaries
Dictionary is a collection of data that has a key and a value. They are defined using curly brackets { }

In [150]:
players = {'Messi':'Barcelona',           # 'Messi' is key and its vale is 'Barcelona'
           'Ronaldo':'Juventus',
           'Neymar':'PSG',
           'Hazard':'Chelsea',
           'Aguero':'Manchester City'}
print(players,'\n')
print(type(players))

{'Messi': 'Barcelona', 'Ronaldo': 'Juventus', 'Neymar': 'PSG', 'Hazard': 'Chelsea', 'Aguero': 'Manchester City'}

<class 'dict'>

In [151]:
players['Ronaldo']  # retrieve values using key

'Juventus'

In [152]:
players['Salah'] = 'Liverpool'     # add item
players

{'Messi': 'Barcelona',
 'Ronaldo': 'Juventus',
 'Neymar': 'PSG',
 'Hazard': 'Chelsea',
 'Aguero': 'Manchester City',
 'Salah': 'Liverpool'}

In [153]:
del players['Neymar']               # delete
players

{'Messi': 'Barcelona',
 'Ronaldo': 'Juventus',
 'Hazard': 'Chelsea',
 'Aguero': 'Manchester City',
 'Salah': 'Liverpool'}

In [154]:
players.pop('Ronaldo')              # delete
players

{'Messi': 'Barcelona',
 'Hazard': 'Chelsea',
 'Aguero': 'Manchester City',
 'Salah': 'Liverpool'}

In [155]:
for x in players.keys():           # print keys
    print(x)

print('\n')

for x in players:
    print(x)

Messi
Hazard
Aguero
Salah


Messi
Hazard
Aguero
Salah

In [156]:
for x in players.values():         # print values
    print(x)

Barcelona
Chelsea
Manchester City
Liverpool

In [157]:
for x in players.items():          # print both
    print(x)

('Messi', 'Barcelona')
('Hazard', 'Chelsea')
('Aguero', 'Manchester City')
('Salah', 'Liverpool')

In [158]:
'Salah' in players               # check if a given key is in the dict

True

In [159]:
'Suarez' in players

False

In [160]:
players['Hazard'] = 'Real Madrid'    # assign new value to a key
players

{'Messi': 'Barcelona',
 'Hazard': 'Real Madrid',
 'Aguero': 'Manchester City',
 'Salah': 'Liverpool'}

In [161]:
players.clear()       # delete dict
players

{}

### Nested Dictionary

In [162]:
dict1 = {'Messi':32,'Ronaldo':35}
dict2 = {'Dhoni':38}
dict3 = {'LeBron':35}

sport = {'Football':dict1,'Cricket':dict2,'Basketball':dict3}

sport

{'Football': {'Messi': 32, 'Ronaldo': 35},
 'Cricket': {'Dhoni': 38},
 'Basketball': {'LeBron': 35}}

In [163]:
print(sport['Football'],'\n')                # retrieving values

print(sport['Football']['Messi'])

{'Messi': 32, 'Ronaldo': 35}

32

## Tuples
In tuples a single item cannot be changed, you need to change the whole tuple. They are defined using round brackets ( )

In [164]:
name = ('Messi','Suarez','Neymar')
print(name)
print(type(name))

('Messi', 'Suarez', 'Neymar')
<class 'tuple'>

In [165]:
name[1]                    # indexing

'Suarez'

In [166]:
name.index('Neymar')       # indexing

2

In [167]:
name = ('Lebron James','Stephen Curry','Michael Jordan','Stephen Curry')     # replace tuple with new values
name

('Lebron James', 'Stephen Curry', 'Michael Jordan', 'Stephen Curry')

In [168]:
name.count('Stephen Curry')          # prints number of occurrences of value

2

## Funtions
They are a block of code that performs given task. Funtions are defined using ' def '

In [169]:
def whoami():
    name = 'abhishek'
    age = 100
    print('My name is '+name+ ' and iam '+str(age)+ ' year\'s old')

whoami()

My name is abhishek and iam 100 year's old

In [170]:
def add(num):                             # single parameter
    print(num + 100)

add(50)

150

In [171]:
def add(x,y):                             # multiple parameters
    print(x + y)
    
add(20,10)

30

In [172]:
def add(a,b=5):                          # assign default value
    print(a + b)

print(add(10,10))
print(add(10))                           # if second parameter is not given, the default value will take its place

20
None
15
None

In [173]:
def nl():                                 # creating a funtion for new line
    print('\n')

print('My name is abhishek')
nl()
print('Iam awesome')

My name is abhishek


Iam awesome

## Boolean and Logical Operators

In [179]:
bool_a = 'True'

bool1 = True
bool2 = 3+3 == 6
bool3 = False
bool4 = 3+3 == 9
bool5 = 3+3 != 9                   # != means not equal to

print(bool1,bool2,bool3,bool4,bool5)
nl()
print(type(bool_a))                 # here bool_a is declared as a string cause of quotes.
print(type(bool1), type(bool2))

True True False False True


<class 'str'>
<class 'bool'> <class 'bool'>

#### Logical Operators  (less than, greater than)

In [180]:
print(4 < 2)           # logical operators
print(4 > 2)
print(4 >= 2)
print(4 <= 2)

False
True
True
False

In [181]:
print(True and True)
print(True and False)     # In AND one value needs to be false for FALSE
print(True or True)
print(True or False)      # In OR both values needs to be false for FALSE
nl()
print(False or False)

True
False
True
True


False

In [182]:
print(not True)
print(not False)

False
True

## Conditional Statements (if, else, elif)

In [183]:
# Here i have taken an example of a Bar which has 2 condition (Money, age). Money required is 5 and the age limit is 21.
# First eg is just using money(mny) as a condition.

def drink(mny):
    if mny >= 5:
        print('You get a drink')
    else:
        print("No drink for you")
drink(5)
drink(7)
drink(3)

You get a drink
You get a drink
No drink for you

In [184]:
# Here both conditions needs to be True to get a drink so we use AND.
# elif is used for multiple conditions.

def bar(age,mny):
    
    if mny>=5 and age>=21:
        print('You get a drink')
    
    elif mny<5 and age>=21:
        print('You need more money')
    
    elif mny>=5 and age<21:
        print('You have money but are underaged')
    
    else:
        print('Get Out')

bar(12,5)
bar(22,3)
bar(21,7)
bar(10,3)

You have money but are underaged
You need more money
You get a drink
Get Out

## Loops (for and while)

In [185]:
a = [21,34,87,65,70]
total = a[0] + a[1] + a[2] + a[3] + a[4]
print(total)

# Instead of typing every index we use for loop.

total_a = 0
for item in a:
    total_a = total_a + item      # for every item in list(a) add to total_a which will run in a loop until it finishes.
print(total_a)

277
277

In [186]:
for x in range(5):               # print 5 times
    print('Bye Bye World')

Bye Bye World
Bye Bye World
Bye Bye World
Bye Bye World
Bye Bye World

In [187]:
for x in range(5):             # prints the value of x in range till 10 
    print(x)

0
1
2
3
4

In [188]:
for x in range(3,11):         # prints the value of x in range from 3 to 11. 
    print(x)

3
4
5
6
7
8
9
10

In [189]:
def table(num):
    for a in range(1,11):                    # printing tables
        print(num, 'x', a, '=', num*a)

table(7)

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

In [191]:
# break is used to stop the loop if specific conditions are met. Here the key was found in 'Bedroom'.
# so it did not search in 'Backyard'

key_location = 'Bedroom'
location = ['Hall','Living Room','Bedroom', 'Backyard']

for x in location:
    if x == key_location:
        print('Key is in',x)
        break
    else:
        print('Key is not in',x)

Key is not in Hall
Key is not in Living Room
Key is in Bedroom

In [192]:
# while loop runs until the given statment is True.
# Here it will print x until it reaches 5 which is <= 5 i.e True. 6<5 is False.

x = 1
while x<=5:
    print(x)
    x += 1

1
2
3
4
5

## Create and Write a file

In [207]:
# r=read
# w=write
# a=append
# Once you open a file you need to close it.

file = open('D:\\Abhishek\\zxc.txt','w')                        # 1st parameter is location and 2nd is mode.
file.write('Hello, My name is Abhishek.\nI love football.')
file.close()

In [209]:
file = open('D:\\Abhishek\\zxc.txt','r')
print(file.read())
file.close()

Hello, My name is Abhishek.
I love football.

In [210]:
file = open('D:\\Abhishek\\zxc.txt','a')
file.write('\nI also love playing Video Games.')
file.close()

file1 = open('D:\\Abhishek\\zxc.txt','r')
print(file1.read())
file.close()

Hello, My name is Abhishek.
I love football.
I also love playing Video Games.

In [211]:
file = open('D:\\Abhishek\\zxc.txt','r')     # using for loop, will print each sentence.
for x in file:
    print(x)

Hello, My name is Abhishek.

I love football.

I also love playing Video Games.

In [212]:
file = open('D:\\Abhishek\\zxc.txt','w')
file.write('I am Awesome')              # To overwrite a file dont use '\n' on start
file.close()

file1 = open('D:\\Abhishek\\zxc.txt','r')
print(file1.read())
file.close()

I am Awesome

In [213]:
file = open('D:\\Abhishek\\zxc.txt','r')
for x in file:
    print(x)

I am Awesome

## Modules
Its a way to reuse code written by someone else. A Python module can have a set of functions, classes or variables defined and implemented.

In [214]:
import math

print(math.sqrt(49))
print(math.pow(2,3))
print(math.floor(2.6))   # will return the largest integer.
print(math.ceil(2.6))    # will return the smallest integer.

7.0
8.0
2
3

In [215]:
print(dir(math))   # to look for all the funtions of a module or just Google the module

['__doc__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'ceil', 'copysign', 'cos', 'cosh', 'degrees', 'e', 'erf', 'erfc', 'exp', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'pi', 'pow', 'radians', 'remainder', 'sin', 'sinh', 'sqrt', 'tan', 'tanh', 'tau', 'trunc']

In [216]:
import calendar

cal = calendar.month(2016,5)    # 1st parameter is year 2nd is month
print(cal)

      May 2016
Mo Tu We Th Fr Sa Su
                   1
 2  3  4  5  6  7  8
 9 10 11 12 13 14 15
16 17 18 19 20 21 22
23 24 25 26 27 28 29
30 31

In [217]:
calendar.isleap(2016)

True

In [218]:
calendar.isleap(2017)

False

## Classes and Objects
Video - https://www.youtube.com/watch?v=ZDa-Z5JzLYM

In [219]:
class Office:
    def __init__(self, firstn, lastn, pay):
        self.firstn = firstn
        self.lastn = lastn
        self.pay = pay
        self.email = firstn + '.' + lastn + '@office.com'
        
    def fulln(self):
        print('{} {}'.format(self.firstn, self.lastn))

emp1 = Office('Jim','Halpert',20000)
emp2 = Office('Dwight','Schrute',18000)

print(emp1.firstn)
print(emp2.email,'\n')

print('{} {}'.format(emp1.firstn, emp1.lastn))

#    Or create a function def fulln()

print(emp1.fulln())
print(Office.fulln(emp2))

Jim
Dwight.Schrute@office.com

Jim Halpert
Jim Halpert
None
Dwight Schrute
None

## Print vs Return

In [36]:
def hw():
    print('Hello World')
hw()

Hello World

In [37]:
a = hw()

Hello World

In [39]:
print(a)

None

In [46]:
def hw2():
    return "Hello World 2"      # return prints the value when the function is called.
hw2()

'Hello World 2'

In [44]:
b = hw2()

In [45]:
print(b)

Hello World 2