# Basics of Python

In [7]:
a = 3
a

3

In [8]:
3 + 2

5

In [43]:
# You can use single or double quotes
a = 'abhishek'
b = "abhishek"

print(a)
print(b)

abhishek
abhishek

## Data Types

In [15]:
a = 42
b = 'abhishek'
c = 52.3
d = True

print(type(a))     # prints data type
print(type(b))
print(type(c))
print(type(d))
print(type(e))

<class 'int'>
<class 'str'>
<class 'float'>
<class 'bool'>
<class 'bool'>

## Numbers

In [27]:
a = 10
b = 3
c = 'abhi'

In [28]:
# Add Subtract

print(a+b)
print(a-b)

13
7

In [35]:
# Multiply Divide

print(a*b)
print(c*b)

print(a/b)

30
abhiabhiabhi
3.3333333333333335

In [30]:
print(a%b)           # modulus - gets remainder after division

1

In [31]:
# BODMAS

(a+b)*(a-b)

91

In [32]:
print(a**b)            # 10 to the power of 3 (10*10*10)

1000

In [36]:
a_to_b = 157
b_to_c = 247

total_distance = a_to_b + b_to_c
print(total_distance)

404

In [37]:
mph = 65
time = total_distance/mph
time

6.2153846153846155

In [40]:
print(round(time))      # rounds of float to int.
print(round(time,4))    # 2nd value is how many digits you want after the decimal point

6
6.2154

In [41]:
10 + 3 * 2

16

In [42]:
(10 + 3) * 2

26

## Text

In [51]:
a = 'Lionel Messi'
a

'Lionel Messi'

In [47]:
# Indexing or Reteieving data. Indexing always starts with 0 and -1.

print(a[1])
print(a[-6])


#   L i o n e l   M e s s  i         L   i   o   n  e  l     M  e  s  s  i
#   0 1 2 3 4 5 6 7 8 9 10 11       -12 -11 -10 -9 -8 -7 -6 -5 -4 -3 -2 -1

i

In [61]:
print(a[0:4])         # 0th is included, 4th is excluded
print(a[7:11])
print(a[-5:-1])

Lion
Mess
Mess

In [62]:
print(a[7:])     # prints everything after 5th index
print(a[:-8])    # prints everything till -8th index

Messi
Lion

In [66]:
print("I love 'football'")
print('foot + ball = "football"')
print('\n')                                              # \n for new line
print('I love Messi\'s team')                            # use backslash(\) to include single quote (') before single quote.
print('this\\that')

I love 'football'
foot + ball = "football"


I love Messi's team
this\that

In [67]:
print('Address: 21 Neon Street,\n\t Mumbai,\n\t India\n')   # \t for tab or indent

# OR use triple quote

print('''Address: 21 Neon Street,
         Mumbai,
         India''')

Address: 21 Neon Street,
	 Mumbai,
	 India

Address: 21 Neon Street,
         Mumbai,
         India

In [78]:
name = 'Abhishek'
game = 'football'

a = 'foot'
b = 'ball'
# Diiferent ways to print strings.

print('My name is '+ name + ' and i love ' + game)
print('My name is {} and i love {}'.format(name,game))
print('My name is {a} and i love {b}'.format(a=name,b=game))
print(a + b)
print(name + ' loves ' + game)

My name is Abhishek and i love football
My name is Abhishek and i love football
My name is Abhishek and i love football
football
Abhishek loves football

In [71]:
name = 'Abhi'
age = 100

# to print num we need to covert it into string.

print('My name is '+ name +'.\nIam '+ str(age) +' years old.')

My name is Abhi.
Iam 100 years old.

In [72]:
len('abhishek')   # prints the number of items

8

## Lists
List is a collection of items that can be ordered, unordered and changeable. Allows duplicate items and are defined using square brackets [ ]

In [102]:
cars = ['Ferrari','Porsche','BMW','Mercedes','Porsche']

print(cars)
print(type(cars))

['Ferrari', 'Porsche', 'BMW', 'Mercedes', 'Porsche']
<class 'list'>

In [103]:
# Indexing

print(cars[2])
print(cars[1:3])

BMW
['Porsche', 'BMW']

In [104]:
cars[1] = 'Tesla'       # change items in the list
cars

['Ferrari', 'Tesla', 'BMW', 'Mercedes', 'Porsche']

In [105]:
cars.append('Audi')     # append adds item at the end of the list
cars

['Ferrari', 'Tesla', 'BMW', 'Mercedes', 'Porsche', 'Audi']

In [106]:
cars.insert(2,'Jaguar')   # adds item at given index
cars

['Ferrari', 'Tesla', 'Jaguar', 'BMW', 'Mercedes', 'Porsche', 'Audi']

In [107]:
cars.extend(['Maserati','Audi'])     # add multiple items
cars

['Ferrari',
 'Tesla',
 'Jaguar',
 'BMW',
 'Mercedes',
 'Porsche',
 'Audi',
 'Maserati',
 'Audi']

In [108]:
cars.pop()  # removes last item
cars

['Ferrari',
 'Tesla',
 'Jaguar',
 'BMW',
 'Mercedes',
 'Porsche',
 'Audi',
 'Maserati']

In [109]:
cars.pop(4)  # remove item by giving its index position
cars

['Ferrari', 'Tesla', 'Jaguar', 'BMW', 'Porsche', 'Audi', 'Maserati']

In [116]:
a = [21,34,45,21,78,10]

print(a.count(21))              # number of occurrences of value
print(len(a))                   # number of items in the list
print(a.index(78))              # index value of given item
print(min(a))                   # lowest value
print(max(a))                   # highest value
print(sum(a))                   # adds all the numbers
print(a*2)                      # print the list 2 times

2
6
4
10
78
209
[21, 34, 45, 21, 78, 10, 21, 34, 45, 21, 78, 10]

In [117]:
a = ['apple','mango','banana']
b = ['watermelon','strawberry']
c = a + b
c

['apple', 'mango', 'banana', 'watermelon', 'strawberry']

In [119]:
# check if a given item is in the list

print('pencil' in c)
print('mango' in c)

False
True

## Sets
Set is a collection of elements and no duplicate elements are present. They are defined using curly brackets { }

In [122]:
avengers = {'Ironman','Hulk','Spiderman','Hulk','Captain America'}

print(avengers)                 # Hulk gets printed only once.
print(type(avengers))

{'Hulk', 'Captain America', 'Spiderman', 'Ironman'}
<class 'set'>

In [123]:
avengers.add('Thor')       # add element
avengers

{'Captain America', 'Hulk', 'Ironman', 'Spiderman', 'Thor'}

In [124]:
set1 = {1,2,3,4,5}
set2 = {1,2,3,4,5,6,7}

set2.difference(set1)      #common elements will be removed but wont show unless you update the difference
set2

{1, 2, 3, 4, 5, 6, 7}

In [125]:
set2.difference_update(set1)     #Updates the difference
set2

{6, 7}

In [126]:
set_a = {'abhi',1,2,3,4}
set_b = {'abhi',1,2,3,4,5}

set_b.intersection(set_a)           #common elements will be printed
set_b.intersection_update(set_a)

set_b

{1, 2, 3, 4, 'abhi'}

## Dictionaries
Dictionary is a collection of data that has a key and a value. They are defined using curly brackets { }

In [127]:
players = {'Messi':'Barcelona',           # 'Messi' is key and its vale is 'Barcelona'
           'Ronaldo':'Juventus',
           'Neymar':'PSG',
           'Hazard':'Chelsea',
           'Aguero':'Manchester City'}

print(players,'\n')
print(type(players))

{'Messi': 'Barcelona', 'Ronaldo': 'Juventus', 'Neymar': 'PSG', 'Hazard': 'Chelsea', 'Aguero': 'Manchester City'}

<class 'dict'>

In [128]:
players['Ronaldo']  # retrieve values using key

'Juventus'

In [129]:
players['Salah'] = 'Liverpool'     # add item
players

{'Messi': 'Barcelona',
 'Ronaldo': 'Juventus',
 'Neymar': 'PSG',
 'Hazard': 'Chelsea',
 'Aguero': 'Manchester City',
 'Salah': 'Liverpool'}

In [130]:
del players['Neymar']               # delete
players

{'Messi': 'Barcelona',
 'Ronaldo': 'Juventus',
 'Hazard': 'Chelsea',
 'Aguero': 'Manchester City',
 'Salah': 'Liverpool'}

In [133]:
players.pop('Salah')              # delete
players

{'Messi': 'Barcelona',
 'Ronaldo': 'Juventus',
 'Hazard': 'Chelsea',
 'Aguero': 'Manchester City'}

In [138]:
# print keys

for x in players.keys():
    print(x)

Messi
Ronaldo
Hazard
Aguero

In [139]:
# print values

for x in players.values():
    print(x)

Barcelona
Juventus
Chelsea
Manchester City

In [141]:
# print both

for x in players.items():
    print(x)

('Messi', 'Barcelona')
('Ronaldo', 'Juventus')
('Hazard', 'Chelsea')
('Aguero', 'Manchester City')

In [143]:
'Hazard' in players    # check if a given key is in the dict

True

In [144]:
'Salah' in players

False

In [145]:
players['Hazard'] = 'Real Madrid'    # assign new value to a key
players

{'Messi': 'Barcelona',
 'Ronaldo': 'Juventus',
 'Hazard': 'Real Madrid',
 'Aguero': 'Manchester City'}

In [146]:
players.clear()       # delete dict
players

{}

## Nested Dictionary

In [148]:
dict1 = {'Messi':32,'Ronaldo':35}
dict2 = {'Dhoni':38}
dict3 = {'LeBron':35}

sport = {'Football':dict1,'Cricket':dict2,'Basketball':dict3}

sport

{'Football': {'Messi': 32, 'Ronaldo': 35},
 'Cricket': {'Dhoni': 38},
 'Basketball': {'LeBron': 35}}

In [152]:
print(sport['Football'],'\n')                # retrieving values

print(sport['Cricket']['Dhoni'])

{'Messi': 32, 'Ronaldo': 35}

38

## Tuples
In tuples a single item cannot be changed, you need to change the whole tuple. They are defined using round brackets ( )

In [1]:
players = ('Messi','Suarez','Neymar')
print(players)
print(type(players))

('Messi', 'Suarez', 'Neymar')
<class 'tuple'>

In [2]:
players[1]       # indexing

'Suarez'

In [4]:
players.index('Neymar')          # indexing

2

In [5]:
players = ('Lebron James','Stephen Curry','Michael Jordan','Stephen Curry')     # replace tuple with new values
players

('Lebron James', 'Stephen Curry', 'Michael Jordan', 'Stephen Curry')

In [6]:
players.count('Stephen Curry')      # prints number of occurrences of value

2

## Funtions
They are a block of code that performs given task. Funtions are defined using def

In [10]:
def whoami():
    name = 'Abhishek'
    age = 22
    print('My name is '+ name +' and iam '+ str(age) +' years old.')

whoami()

My name is Abhishek and iam 22 years old.

In [1]:
def add(num):                             # single parameter
    print(num + 100)

add(50)

150

In [2]:
def add(x,y):                             # multiple parameters
    print(x + y)
    
add(20,10)

30

In [4]:
def add(a,b=5):                          # assign default value
    print(a + b)

print(add(10,10))
print(add(10))                           # if second parameter is not given, the default value will take its place

20
None
15
None

In [79]:
# Funtion for new line
def nl():
    print('\n')

print('My name is Abhishek')
nl()
print('Iam Awesome')

My name is Abhishek


Iam Awesome

In [82]:
def greet(nm):
    print('Hello',nm)
greet('Abhishek')

Hello Abhishek

## Operators (Boolean and Logical)

### Boolean Operators - True False

In [11]:
bool=True

print(bool)
print(type(bool))

True
<class 'bool'>

In [14]:
bool_a = 'True'

bool1 = True
bool2 = 3+3 == 6
bool3 = False
bool4 = 3+3 == 9
bool5 = 3+3 != 9                   # != means not equal to

print(bool1,bool2,bool3,bool4,bool5)
nl()
print(type(bool_a))                 # here bool_a is declared as a string cause of quotes.
print(type(bool1), type(bool2))

True True False False True


<class 'str'>
<class 'bool'> <class 'bool'>

### Logical Operators - Less than, greater than

In [15]:
print(4 < 2)           # logical operators
print(4 > 2)
print(4 >= 2)
print(4 <= 2)

False
True
True
False

In [18]:
print(True and True)
print(True and False)     # In AND one value needs to be false for FALSE
print(True or True)
print(True or False)      # In OR both values needs to be false for FALSE
nl()
print(False or False)

True
False
True
True


False

In [19]:
print(not True)
print(not False)

False
True

## Conditional Statements (if, else, elif)

In [20]:
# Here i have taken an example of a Bar.In the bar to get a drink you need to have to meet 2 conditions Money and Age
# Money required is 5 and the age limit is 21.
# First eg is just using money(mny) as a condition.

def drink(mny):
    if mny >= 5:
        print('You get a drink')
    else:
        print("No drink for you")
drink(5)
drink(7)
drink(3)

You get a drink
You get a drink
No drink for you

In [27]:
def drink(mny,age):
    if mny >= 5 and age >= 21:
        print('You get a drink')
    elif mny >= 5 and age <= 21:
        print('You are too young')
    elif mny <=5 and age >=21:
        print('You are broke')
    else:
        print('Get Out')

drink(4,19)
drink(5,21)
drink(2,35)
drink(20,20)

Get Out
You get a drink
You are broke
You are too young

## Loops (for and while)

In [38]:
a = [21,34,87,65,70]
total = a[0] + a[1] + a[2] + a[3] + a[4]
print(total)

# Instead of typing every index we use for loop.

totl = 0
for item in a:
    totl = totl + item      # for every item in list(a) add to total_a which will run in a loop until it finishes.
print(totl)

277
277

In [36]:
for x in range(5):               # print 5 times
    print('Bye World')

Bye World
Bye World
Bye World
Bye World
Bye World

#### Range
The range() function returns a sequence of numbers, starting from 0 by default, and increments by 1 by default, and stops before a specified number.

In [56]:
for x in range(4):             # prints the value of x in range till 5. 
    print(x)

0
1
2
3

In [55]:
for x in range(1,11):
    print(x)

1
2
3
4
5
6
7
8
9
10

In [50]:
for x in range(1,11,2):        # 3rd value is the increment value.
    print(x)

1
3
5
7
9

In [60]:
# Printing Tables
for x in range(1,11):
    print('7 x', x, '=', 7*x)

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

In [62]:
# using Function we can print any tables we want.

def table(num):
    for x in range(1,11):
        print(num,'x', x,'=', num * x)
        
table(5)

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [87]:
# while loop runs until the given statment is True.
# Here it will print x until it reaches 5 which is <= 5 i.e True. 6<5 is False.

x = 1
while x <= 5:
    print(x)
    x+=1

1
2
3
4
5

In [97]:
x=1
while x<=5:
    print(x, end='|')        # end used to print in a straight line. We can add anything in between if we like.
    x+=1

1|2|3|4|5|

## Break, Continue and Pass
Video - https://www.youtube.com/watch?v=JCRpVwtVL4I
### break is used to stop the loop if specific conditions are met.

In [65]:
# Here the key was found in 'Bedroom' so it did not search in Backyard and Bathroom

key_location = 'Bedroom'
location = ['Hall','Living Room','Bedroom', 'Backyard','Bathroom']

for x in location:
    if x == key_location:
        print('Key is in',x)
        break
    else:
        print('Key is not in',x)

Key is not in Hall
Key is not in Living Room
Key is in Bedroom

### continue is used as the name says to continue the loop

In [112]:
# Here the loop will continue to print afer 'i' unlike break

for x in "Abhishek":
    if x == "i":
        continue
    print(x)

print("End")

A
b
h
s
h
e
k
End

### Pass is used when you want to leave something empty and fill in later.

In [3]:
def ab():
    
print('Abhishek')

IndentationError: expected an indented block (<ipython-input-3-ac094c302563>, line 3)

In [4]:
def cd():
    pass

print('Abhishek')

Abhishek

## User Input

In [9]:
x = input('Enter Name')
x

Enter NameAbhishek

'Abhishek'

In [37]:
# Adding

x = int(input('Enter 1st number:'))     # input always takes string so we have to convert it into int.
y = int(input('Enter 2nd number:'))

add = x+y

print('Total:',add)

Enter 1st number:20
Enter 2nd number:20
Total: 40

## Create and Write a file

In [57]:
# r=read
# w=write
# a=append
# Once you open a file you need to close it.

file = open('D:/Abhishek/zxc.txt','w')                        # 1st parameter is location and 2nd is mode.
file.write('Hello, My name is Abhishek.\nI love football.')
file.close()

In [59]:
file = open('D:/Abhishek/zxc.txt','r')
print(file.read())
file.close()

Hello, My name is Abhishek.
I love football.

In [60]:
file = open('D:/Abhishek/zxc.txt','a')
file.write('\nI also love playing Video Games.')
file.close()

file1 = open('D:/Abhishek/zxc.txt','r')
print(file1.read())
file.close()

Hello, My name is Abhishek.
I love football.
I also love playing Video Games.

In [61]:
file = open('D:\\Abhishek\\zxc.txt','r')     # using for loop, will print each sentence.
for x in file:
    print(x)

Hello, My name is Abhishek.

I love football.

I also love playing Video Games.

In [62]:
file = open('D:\\Abhishek\\zxc.txt','w')
file.write('I am Awesome')                    # To overwrite a file dont use '\n' on start
file.close()

file1 = open('D:\\Abhishek\\zxc.txt','r')
print(file1.read())
file.close()

I am Awesome

## Modules
Its a way to reuse code written by someone else. A Python module can have a set of functions, classes or variables defined and implemented.

In [63]:
import math

print(math.sqrt(49))
print(math.pow(2,3))
print(math.floor(2.6))   # will return the largest integer.
print(math.ceil(2.6))    # will return the smallest integer.

7.0
8.0
2
3

In [65]:
print(dir(math))   # to look for all the funtions of a module or just Google the module

['__doc__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'ceil', 'comb', 'copysign', 'cos', 'cosh', 'degrees', 'dist', 'e', 'erf', 'erfc', 'exp', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'isqrt', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'perm', 'pi', 'pow', 'prod', 'radians', 'remainder', 'sin', 'sinh', 'sqrt', 'tan', 'tanh', 'tau', 'trunc']

In [66]:
import calendar

cal = calendar.month(2016,5)    # 1st parameter is year 2nd is month
print(cal)

      May 2016
Mo Tu We Th Fr Sa Su
                   1
 2  3  4  5  6  7  8
 9 10 11 12 13 14 15
16 17 18 19 20 21 22
23 24 25 26 27 28 29
30 31

In [67]:
calendar.isleap(2016)

True

In [68]:
calendar.isleap(2017)

False

### Print vs Return

In [79]:
def hw():
    print('Hello World')
hw()

Hello World

In [81]:
a = hw()

Hello World

In [84]:
print(a)

None

In [88]:
def hw1():
    return "Hello World 2"      # return prints the value when the function is called.
hw1()

'Hello World 2'

In [89]:
b = hw1()

In [90]:
print(b)

Hello World 2

## Lambda Funtions
A lambda function is a small anonymous function. It can take any number of arguments, but can only have one expression.

In [95]:
def add(a,b):              # normal function
    return a+b
add(5,4)

9

In [94]:
add = lambda a,b:a+b       # using lamda, we just have to add the expression after colon(:).
add(5,4)

9

In [5]:
# print if the number given is even or odd

def eo(a):
    if a%2==0:
        return True
eo(2)

True

In [6]:
# using lambda

eo = lambda a:a%2==0
eo(3)

False

## Filter, Map and Reduce

### Filter
Video - https://www.youtube.com/watch?v=VrHcTFAkkak

In [21]:
lst = [21,5,32,65,40,29,87,52,41,9,36,66,42,11,95]

#print only even numbers

def evn(n):
    if n%2==0:
        return True

print(list(filter(evn,lst)))

# the same output using lambda

print(list(filter(lambda n:n%2==0,lst)))

[32, 40, 52, 36, 66, 42]
[32, 40, 52, 36, 66, 42]

### Map
video - https://www.youtube.com/watch?v=j1lTvjmOJbQ

In [37]:
lst2 = [21,50,33,28,95,65]

def evod(n):
    if n%2==0:
        return True

print(list(map(evod,lst2)))

# using lambda

print(list(map(lambda n:n%2==0, lst2)))

[None, True, None, True, None, None]
[False, True, False, True, False, False]

### Reduce
Video -

In [48]:
from functools import reduce     # we need to import reduce to use it

def add(a,b):
    return a+b

print(reduce(add,lst2))

# using lambda

print(reduce(lambda a,b:a+b, lst2))

292
292

## Iterators
Video - https://www.youtube.com/watch?v=t5iO4LzVeLU

In [67]:
lst=[1,2,3,4]
print(type(lst))

<class 'list'>

In [68]:
for x in lst:
    print(x)

1
2
3
4

In [77]:
a = iter(lst)
a

In [78]:
print(type(a))

<class 'list_iterator'>

In [79]:
next(a)

1

In [80]:
for x in a:
    print(x)

2
3
4

## Generators
Video - https://www.youtube.com/watch?v=lJUZc3OhU7A

In [3]:
def gn():
    yield 1
    yield 2
    yield 3
    yield 4
a = gn()

In [4]:
a

In [7]:
next(a)

3

In [ ]:
# Printing Fibonacci numbers

def fib():
    a,b = 0, 1
    while True:
        yield a
        a,b = b,a+b
        
for x in fib():
    if x < 50:
        print(x)

0
1
1
2
3
5
8
13
21
34

## Decorators
Video - https://www.youtube.com/watch?v=MYAEv3JoenI

In [122]:
def check(div):
    def func(a,b):
        if b == 0:
            print('Cannot Divide by 0')
            return(a,b)
        div(a,b)
    return func

@check
def divide(a,b):
    return a/b

divide(3,0)

Cannot Divide by 0

(3, 0)

## OPPs

### Classes and Objects
Video - https://www.youtube.com/watch?v=ZDa-Z5JzLYM

In [3]:
class office:
    
    emp_count = 0
    raise_amt = 1.04
    
    def __init__(self, fname, lname, departmnt, salary):
        self.fname = fname
        self.lname = lname
        self.email = fname + '.' + lname + '@office.com'
        self.departmnt = departmnt
        self.salary = salary
        
        office.emp_count += 1
        
    def fullname(self):
        return self.fname + ' ' + self.lname
    
    def sal_raise(self):
        self.salary = int(self.salary * self.raise_amt)
    
emp1 = office('Michael','Scott','Manager',50000)
emp2 = office('Jim','Halpert','Sales',30000)

In [4]:
print(emp1.fname)
print(emp2.email)
print(emp1.salary,'\n')
print('Hi iam '+ emp1.fullname() +' and iam the '+ emp1.departmnt +' of the office.')
print('My names {} and i work in {}.'.format(emp2.fname,emp2.departmnt))

Michael
Jim.Halpert@office.com
50000

Hi iam Michael Scott and iam the Manager of the office.
My names Jim and i work in Sales.

In [5]:
print(emp1.salary)
emp1.sal_raise()
print(emp1.salary)

50000
52000

In [6]:
print(emp2.salary)
emp2.raise_amt = 1.03
print(emp2.raise_amt)
print(emp1.raise_amt)

30000
1.03
1.04

In [7]:
emp1.__dict__

{'fname': 'Michael',
 'lname': 'Scott',
 'email': 'Michael.Scott@office.com',
 'departmnt': 'Manager',
 'salary': 52000}

In [8]:
emp2.__dict__

{'fname': 'Jim',
 'lname': 'Halpert',
 'email': 'Jim.Halpert@office.com',
 'departmnt': 'Sales',
 'salary': 30000,
 'raise_amt': 1.03}

In [9]:
print(emp1.salary)
emp2.sal_raise()
print(emp2.salary)

52000
30900

In [10]:
office.emp_count

2

In [11]:
emp3 = office('Dwight','Scrute','Sales',30000)
emp4 = office('Pam','Beesly','Reception',12000)
office.emp_count

4

### Inheritance
Video:                                                          
https://www.youtube.com/watch?v=Cn7AkDb4pIU                                                                                    
https://www.youtube.com/watch?v=6P-P879BcHQ

In [20]:
class ab:    
    def asd(self):
        print('hello world')
x = ab()
x.asd()

hello world

In [26]:
class cd(ab):                       #inheritance
    def qwe(self):
        print('HELLO WORLD')
y = cd()
y.qwe()
y.asd()

HELLO WORLD
hello world

In [32]:
# example (Here i just added the add functionality to class calc2 from calc)

class calc():
    def add(self, a, b):
        print(a+b)
a=calc()
a.add(5,5)

class calc2(calc):
    def subt(self, x, y):
        print(x-y)
b=calc2()
b.subt(7,2)
b.add(7,2)

10
5
9

In [36]:
class calc3(calc2):
    def mul(self, m, n):
        print(m*n)
c=calc3()
c.mul(3,2)
c.subt(3,2)
c.add(3,2)

6
1
5

### Polymorphism
Operator overloading - https://www.youtube.com/watch?v=9wd50TKv_OQ

Method overloading and Method overriding - https://www.youtube.com/watch?v=CcTzTuIsoFk

In [69]:
# Operator Overloading

class players:
    
    player_count = 0
    
    def __init__(self, name, goals):
        self.name = name
        self.goals = goals
        players.player_count += 1
        
    def __add__(self, other):
        return self.goals + other.goals
    
    def __str__(self):
        return '{}'.format(self.name)+' has scored {} goals.'.format(self.goals)
        
p1 = players('Lionel Messi',753)
p2 = players('Cristiano Ronaldo',698)

print(p1.name + ' and ' + p2.name + ' are the best players in football.')

Lionel Messi and Cristiano Ronaldo are the best players in football.

In [47]:
print(p1 + p2)    # Error when the __add__ method is not added.

TypeError: unsupported operand type(s) for +: 'players' and 'players'

In [71]:
p3 = players('Luis Suarez',370)
p4 = players('Kylian Mbappe',366)

print(p3 + p4)
print(370+366)
print(p3)        # after adding __str__ method.

736
736
Luis Suarez has scored 370 goals.

In [94]:
## Method Overloading

def sum(self, a=None, b=None, c=None):
    s = 0
    if a!=None and b!=None and c!=None:
        s = a+b+c
    elif a!=None and b!=None:
        s = a+b
    else:
        s = a
    return s

print(x.sum(3))
print(x.sum(3,2))
print(x.sum(8,5,2))

3
5
15

In [137]:
# Method Overriding

class A:
    def show(self):
        print('Blue')
        
class B(A):
    #pass
    def show(self):
        print('Orange')

x = B()
x.show()

Orange

### Encapsulation

In [130]:
class office:
    def __init__(self, name, deprtmnt, sal):
        self.name = name
        self.deprtmnt = deprtmnt
        self.__sal = sal                 # using double underscore to set as private
        
    def set_sal(self, value):
        self.__sal = value
        
    def get_sal(self):
        return self.__sal
        
emp1 = office('Jim', 'Sales', 4000)
emp2 = office('Dwight', 'Sales', 4000)
emp3 = office('Michael', 'Manager', 6000)

print(emp1.name)

Jim

In [131]:
emp1.get_sal()

4000

In [132]:
emp1.set_sal = 5000
emp1.get_sal()

4000

## Exception Handling

In [156]:
a = int(input('Enter 1st number: '))
b = int(input('Enter 2nd number: '))
print('Addition is:', a+b)

Enter 1st number: 5
Enter 2nd number: p

ValueError: invalid literal for int() with base 10: 'p'

In [169]:
try:
    a = int(input('Enter 1st number: '))
    b = int(input('Enter 2nd number: '))
    print('Addition is:', a+b)
except Exception: 
    print('Enter only Numbers')

Enter 1st number: 8
Enter 2nd number: p
Enter only Numbers

In [1]:
try:
    a = int(input('Enter 1st number: '))
    b = int(input('Enter 2nd number: '))
    print('Addition is:', a+b)
except Exception as e:
    print(e)

Enter 1st number: 8p
invalid literal for int() with base 10: '8p'

In [7]:
try:
    a = int(input('Enter 1st number: '))
    b = int(input('Enter 2nd number: '))
    print('Division is:', a/b)
    
except ZeroDivisionError as e:
    print('Divion by zero is not possible')

except ValueError as e:
    print('Enter only Numbers')

Enter 1st number: 5
Enter 2nd number: 0
Divion by zero is not possible